name: Cloud E2E Schedule Idc

on:
  workflow_dispatch:
  schedule:
    - cron: '0 21 * * 0' # Runs at 5:00 UTC on Mon
    - cron: '0 21 * * 1' # Runs at 5:00 UTC on Tue
    - cron: '0 21 * * 2' # Runs at 5:00 UTC on Wed
    - cron: '0 21 * * 3' # Runs at 5:00 UTC on Thu
    - cron: '0 21 * * 4' # Runs at 5:00 UTC on Fri
    - cron: '0 21 * * 5' # Runs at 5:00 UTC on Sat
    - cron: '0 21 * * 6' # Runs at 5:00 UTC on Sun

jobs:
  release-e2e-image:
    strategy:
      fail-fast: false
      matrix:
        branch-name: [ "release-2.0", "release-2.1" ]
    uses: ./.github/workflows/release-image-cache.yml
    with:
      GITHUB_REPO: "apecloud/apecloud"
      GITHUB_REF: "${{ matrix.branch-name }}"
      IMG: "apecloud/e2e"
      CONTEXT: "./e2e"
      DOCKERFILE_PATH: "./e2e/Dockerfile"
      VERSION: "${{ matrix.branch-name }}"
      GO_VERSION: "1.23.1"
      REMOVE_PREFIX: false
      BUILDX_ARGS: |
        ALPINE_IMAGE=apecloud/alpine:3.16
    secrets: inherit

  release-e2e-ginkgo-image:
    strategy:
      fail-fast: false
      matrix:
        branch-name: [ "release-2.0", "release-2.1" ]
    uses: ./.github/workflows/release-image-sync2.yml
    with:
      GITHUB_REPO: "apecloud/apecloud"
      GITHUB_REF: "${{ matrix.branch-name }}"
      MAKE_OPS: "build"
      VERSION: "${{ matrix.branch-name }}"
      GO_VERSION: "1.24.9"
      BUILDX_ENABLED: true
      GIT_CONFIG: true
      REMOVE_PREFIX: false
      MAKE_ARGS: "TARGETS=docker/e2e-ginkgo "
    secrets: inherit

  schedule-cron:
    runs-on: ubuntu-latest
    outputs:
      day-of-week: ${{ steps.get-schedule-cron.outputs.day-of-week }}
    steps:
      - name: get schedule cron
        id: get-schedule-cron
        run: |
          SCHEDULE_CRON="${{ github.event.schedule }}"
          echo "SCHEDULE_CRON:${SCHEDULE_CRON}"
          DAY_OF_WEEK="${SCHEDULE_CRON##* }"
          echo "DAY_OF_WEEK:${DAY_OF_WEEK}"
          if [[ "${SCHEDULE_CRON}" == "0 21 * * 6" || "${DAY_OF_WEEK}" == "6" ]]; then
              DAY_OF_WEEK=""
          else
              DAY_OF_WEEK=$(( DAY_OF_WEEK + 1 ))
          fi
          echo "DAY_OF_WEEK2:${DAY_OF_WEEK}"
          echo day-of-week="${DAY_OF_WEEK}" >> $GITHUB_OUTPUT

#  e2e-engine-test-10:
#    needs: [ release-e2e-image, release-e2e-ginkgo-image, schedule-cron ]
#    uses: ./.github/workflows/trigger-workflow.yml
#    with:
#      GITHUB_REPO: "apecloud/apecloud-cd"
#      BRANCH_NAME: "main"
#      WORKFLOW_ID: "cloud-e2e-engine.yml"
#      APECD_REF: "main"
#      EXTRA_ARGS: "CLOUD_ENV_NAME=idc2#TEST_ENGINES=${{ vars.KB_CLOUD_TEST_ENGINES_IDC2 }}#CLOUD_BRANCH=release-1.1#CURRENT_VERSION=v1.1#TEST_INDEX=${{ needs.schedule-cron.outputs.day-of-week }}"
#    secrets: inherit

#  e2e-engine-test-21-10:
#    needs: [ release-e2e-image, release-e2e-ginkgo-image, schedule-cron ]
#    uses: ./.github/workflows/trigger-workflow.yml
#    with:
#      GITHUB_REPO: "apecloud/apecloud-cd"
#      BRANCH_NAME: "main"
#      WORKFLOW_ID: "cloud-e2e-engine.yml"
#      APECD_REF: "main"
#      EXTRA_ARGS: "CLOUD_TEST_ENV=idc4#CLOUD_ENV_NAME=idc4#TEST_ENGINES=${{ vars.KB_CLOUD_TEST_ENGINES_IDC4 }}#CLOUD_TEST_KB_VERSION=1.0#CLOUD_BRANCH=release-2.1#CURRENT_VERSION=v2.1#TEST_INDEX=${{ needs.schedule-cron.outputs.day-of-week }}"
#    secrets: inherit

  e2e-engine-test-20-10:
    needs: [ release-e2e-image, release-e2e-ginkgo-image, schedule-cron ]
    uses: ./.github/workflows/trigger-workflow.yml
    with:
      GITHUB_REPO: "apecloud/apecloud-cd"
      BRANCH_NAME: "main"
      WORKFLOW_ID: "cloud-e2e-engine.yml"
      APECD_REF: "main"
      EXTRA_ARGS: "CLOUD_ENV_NAME=idc1#TEST_ENGINES=${{ vars.KB_CLOUD_TEST_ENGINES_IDC1 }}#CLOUD_TEST_KB_VERSION=1.0#CLOUD_BRANCH=release-2.0#CURRENT_VERSION=v2.0#TEST_INDEX=${{ needs.schedule-cron.outputs.day-of-week }}"
    secrets: inherit

  e2e-engine-test-20-09:
    needs: [ release-e2e-image, release-e2e-ginkgo-image, schedule-cron ]
    uses: ./.github/workflows/trigger-workflow.yml
    with:
      GITHUB_REPO: "apecloud/apecloud-cd"
      BRANCH_NAME: "main"
      WORKFLOW_ID: "cloud-e2e-engine.yml"
      APECD_REF: "main"
      EXTRA_ARGS: "CLOUD_TEST_ENV=idc#CLOUD_ENV_NAME=idc1#TEST_ENGINES=${{ vars.KB_CLOUD_TEST_ENGINES_IDC }}#CLOUD_TEST_KB_VERSION=0.9#CLOUD_BRANCH=release-2.0#CURRENT_VERSION=v2.0#TEST_INDEX=${{ needs.schedule-cron.outputs.day-of-week }}"
    secrets: inherit
