name: Cloud E2E Schedule Dev

on:
  workflow_dispatch:
  schedule:
    - cron: '30 22 * * 0-4' # Runs at 06:30 UTC on Mon to Friday

jobs:
  release-e2e-image:
    strategy:
      fail-fast: false
      matrix:
        branch-name: [ "main" ]
    uses: ./.github/workflows/release-image-cache.yml
    with:
      GITHUB_REPO: "apecloud/apecloud"
      GITHUB_REF: "${{ matrix.branch-name }}"
      IMG: "apecloud/e2e"
      CONTEXT: "./e2e"
      DOCKERFILE_PATH: "./e2e/Dockerfile"
      VERSION: "${{ matrix.branch-name }}"
      GO_VERSION: "1.24.9"
      REMOVE_PREFIX: false
      BUILDX_ARGS: |
        ALPINE_IMAGE=apecloud/alpine:3.16
    secrets: inherit

  release-e2e-ginkgo-image:
    strategy:
      fail-fast: false
      matrix:
        branch-name: [ "main" ]
    uses: ./.github/workflows/release-image-sync2.yml
    with:
      GITHUB_REPO: "apecloud/apecloud"
      GITHUB_REF: "${{ matrix.branch-name }}"
      MAKE_OPS: "build"
      VERSION: "${{ matrix.branch-name }}"
      GO_VERSION: "1.24.9"
      BUILDX_ENABLED: true
      GIT_CONFIG: true
      REMOVE_PREFIX: false
      MAKE_ARGS: "TARGETS=docker/e2e-ginkgo "
    secrets: inherit

  e2e-api-test:
    needs: [ release-e2e-image, release-e2e-ginkgo-image ]
    uses: ./.github/workflows/trigger-workflow.yml
    with:
      GITHUB_REPO: "apecloud/apecloud-cd"
      BRANCH_NAME: "main"
      WORKFLOW_ID: "cloud-e2e-api.yml"
      APECD_REF: "main"
      EXTRA_ARGS: "TEST_TYPE=openapi-test|adminapi-test#CLOUD_ENV_NAME=dev#CLOUD_BRANCH=main#CURRENT_VERSION=${{ vars.CURRENT_RELEASE_VERSION }}"
    secrets: inherit

#  e2e-engine-test:
#    needs: [ release-e2e-image ]
#    uses: ./.github/workflows/trigger-workflow.yml
#    with:
#      GITHUB_REPO: "apecloud/apecloud-cd"
#      BRANCH_NAME: "main"
#      WORKFLOW_ID: "cloud-e2e-engine.yml"
#      APECD_REF: "main"
#      EXTRA_ARGS: "TEST_ENGINES=${{ vars.KB_CLOUD_TEST_ENGINES }}#CLOUD_ENV_NAME=dev#CLOUD_BRANCH=main#CURRENT_VERSION=${{ vars.CURRENT_RELEASE_VERSION }}"
#    secrets: inherit
