name: Send Feishui Message

on:
  workflow_call:
    inputs:
      TYPE:
        description: 'The type to send message'
        required: false
        type: string
        default: '2'
      CONTENT:
        description: 'The send message content'
        required: false
        type: string
        default: ''
      VERSION:
        description: 'The version of release'
        required: false
        type: string
        default: ''
      APECD_REF:
        description: "The ref of apecloud-cd"
        type: string
        required: false
        default: 'main'
      BOT_TYPE:
        description: 'The bot type (e.g. release/package/specify)'
        type: string
        required: false
        default: 'release'
      WAIT_TIME:
        description: 'Then wait time of send message'
        type: number
        required: false
        default: 0
      BOT_WEBHOOK:
        description: 'The bot webhook'
        type: string
        required: false
        default: ''
      PR_NUMBER:
        description: 'The pull request number'
        type: string
        required: false
        default: ""
      PR_AUTHOR:
        description: 'The pull request author'
        type: string
        required: false
        default: ""

env:
  RELEASE_BOT_WEBHOOK: ${{ secrets.RELEASE_BOT_WEBHOOK }}
  PACKAGE_BOT_WEBHOOK: ${{ secrets.PACKAGE_BOT_WEBHOOK }}
  GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

permissions:
  id-token: write
  contents: read

jobs:
  send-message:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout apecloud-cd Code
        uses: actions/checkout@v4
        with:
          repository: apecloud/apecloud-cd
          path: apecloud-cd
          ref: ${{ inputs.APECD_REF }}

      - name: send message
        run: |
          sleep ${{ inputs.WAIT_TIME }}
          CI_JOB_URL="$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID"
          if [[ "${{ inputs.TYPE }}" == "5" ]]; then
            CI_JOB_URL=$(bash ${{ github.workspace }}/apecloud-cd/.github/utils/utils.sh \
              --type 44 \
              --github-repo "${{ github.repository }}" \
              --github-token "${{ env.GH_TOKEN }}" \
              --run-id "$GITHUB_RUN_ID" \
              --test-result "cherry-pick")
          fi
          
          cmd="bash apecloud-cd/.github/utils/webhook_utils.sh --type ${{ inputs.TYPE }} \
              --github-repo ${{ github.repository }} \
              --run-url ${CI_JOB_URL} "
          
          if [[ "${{ inputs.BOT_TYPE }}" == "package" ]]; then
              if [[ -n "${{ env.PACKAGE_BOT_WEBHOOK }}" ]]; then
                  cmd="${cmd} --bot-webhook '${{ env.PACKAGE_BOT_WEBHOOK }}' "
              fi
          elif [[ "${{ inputs.BOT_TYPE }}" == "specify" ]]; then
              if [[ -n "${{ inputs.BOT_WEBHOOK }}" ]]; then
                  cmd="${cmd} --bot-webhook '${{ inputs.BOT_WEBHOOK }}' "
              fi
          else
              if [[ -n "${{ env.RELEASE_BOT_WEBHOOK }}" ]]; then
                  cmd="${cmd} --bot-webhook '${{ env.RELEASE_BOT_WEBHOOK }}' "
              fi
          fi
          
          if [[ -n "${{ inputs.CONTENT }}" ]]; then
              cmd="${cmd} --content '${{ inputs.CONTENT }}' "
          fi
          
          if [[ -n "${{ inputs.VERSION }}" ]]; then
              cmd="${cmd} --version '${{ inputs.VERSION }}' "
          fi
          
          if [[ -n "${{ inputs.PR_NUMBER }}" ]]; then
              cmd="${cmd} --pr-number '${{ inputs.PR_NUMBER }}' "
          fi
          
          if [[ "${{ inputs.TYPE }}" == "5" ]]; then
              if [[ -n "${{ inputs.PR_AUTHOR }}" ]]; then
                  cmd="${cmd} --pr-author '${{ inputs.PR_AUTHOR }}' "
              else
                  cmd="${cmd} --pr-author '${{ github.event.issue.user.login }}' "
              fi
          else
              if [[ -n "${{ inputs.PR_AUTHOR }}" ]]; then
                  cmd="${cmd} --pr-author '${{ inputs.PR_AUTHOR }}' "
              fi
          fi
          
          echo "$cmd"
          eval "$cmd"
