name: KBCLI Test on EKS

on:
  workflow_call:
    inputs:
      CLUSTER_VERSION:
        description: 'eks cluster version (e.g. 1.25)'
        type: string
        required: false
        default: '1.25'
      INSTANCE_TYPE:
        description: 'node instance types (e.g. amd64/arm64)'
        type: string
        required: false
        default: 'amd64'
      KB_VERSION:
        description: 'kubeblocks release version'
        type: string
        required: false
        default: 'latest'
      BRANCH_NAME:
        description: 'testinfra branch name'
        type: string
        required: false
        default: 'main'
      APECD_REF:
        description: "The branch name of apecloud-cd"
        type: string
        required: false
        default: 'main'
      ARGS:
        description: "Test args"
        type: string
        required: false
        default: ''
  workflow_dispatch:
    inputs:
      CLUSTER_VERSION:
        description: 'eks cluster version (e.g. 1.25)'
        required: false
        default: '1.25'
      INSTANCE_TYPE:
        description: 'node instance types (e.g. amd64/arm64)'
        required: false
        default: 'amd64'
      KB_VERSION:
        description: 'kubeblocks release version'
        required: false
        default: 'latest'
      BRANCH_NAME:
        description: 'testinfra branch name'
        required: false
        default: 'main'
      APECD_REF:
        description: "The branch name of apecloud-cd"
        required: false
        default: 'main'
      ARGS:
        description: "Test args"
        required: false
        default: ''

run-name: kbcli:${{ inputs.KB_VERSION }} k8s:${{ inputs.CLUSTER_VERSION }}:${{ inputs.INSTANCE_TYPE }}

env:
  GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

permissions:
  id-token: write
  contents: read

jobs:
  init-aws-eks:
    uses: ./.github/workflows/terraform-init.yml
    with:
      cluster-version: ${{ inputs.CLUSTER_VERSION }}
      instance-type: ${{ inputs.INSTANCE_TYPE }}
      artifact-name: aws-eks-${{ github.sha }}
      deploy-path: ./aws/eks-default-vpc
    secrets: inherit

  install-kubeblocks:
    if: ${{ needs.init-aws-eks.result == 'success' }}
    needs: init-aws-eks
    uses: ./.github/workflows/test-kbcli.yml
    with:
      release-version: "${{ inputs.KB_VERSION }}"
      test-type: "0"
      test-type-name: "install"
      test-args: "--config-s3 true --upgrade true ${{ inputs.ARGS }}"
      eks-cluster-name: ${{ needs.init-aws-eks.outputs.eks-cluster-name }}
      branch-name: ${{ inputs.BRANCH_NAME }}
    secrets: inherit

  test-mysql:
    if: ${{ needs.install-kubeblocks.result == 'success' }}
    needs: [ init-aws-eks, install-kubeblocks ]
    uses: ./.github/workflows/test-kbcli.yml
    with:
      release-version: "${{ inputs.KB_VERSION }}"
      test-type: "1"
      test-type-name: "mysql"
      test-args: "${{ inputs.ARGS }}"
      eks-cluster-name: ${{ needs.init-aws-eks.outputs.eks-cluster-name }}
      branch-name: ${{ inputs.BRANCH_NAME }}
    secrets: inherit

  test-postgresql:
    if: ${{ needs.install-kubeblocks.result == 'success' }}
    needs: [ init-aws-eks, install-kubeblocks ]
    uses: ./.github/workflows/test-kbcli.yml
    with:
      release-version: "${{ inputs.KB_VERSION }}"
      test-type: "2"
      test-type-name: "postgresql"
      test-args: "${{ inputs.ARGS }}"
      eks-cluster-name: ${{ needs.init-aws-eks.outputs.eks-cluster-name }}
      branch-name: ${{ inputs.BRANCH_NAME }}
    secrets: inherit

  test-redis:
    if: ${{ needs.install-kubeblocks.result == 'success' }}
    needs: [ init-aws-eks, install-kubeblocks ]
    uses: ./.github/workflows/test-kbcli.yml
    with:
      release-version: "${{ inputs.KB_VERSION }}"
      test-type: "5"
      test-type-name: "redis"
      test-args: "${{ inputs.ARGS }}"
      eks-cluster-name: ${{ needs.init-aws-eks.outputs.eks-cluster-name }}
      branch-name: ${{ inputs.BRANCH_NAME }}
    secrets: inherit

  test-mongodb:
    if: ${{ needs.install-kubeblocks.result == 'success' }}
    needs: [ init-aws-eks, install-kubeblocks ]
    uses: ./.github/workflows/test-kbcli.yml
    with:
      release-version: "${{ inputs.KB_VERSION }}"
      test-type: "6"
      test-type-name: "mongodb"
      test-args: "${{ inputs.ARGS }}"
      eks-cluster-name: ${{ needs.init-aws-eks.outputs.eks-cluster-name }}
      branch-name: ${{ inputs.BRANCH_NAME }}
    secrets: inherit

  test-kafka:
    if: ${{ needs.install-kubeblocks.result == 'success' }}
    needs: [ init-aws-eks, install-kubeblocks ]
    uses: ./.github/workflows/test-kbcli.yml
    with:
      release-version: "${{ inputs.KB_VERSION }}"
      test-type: "7"
      test-type-name: "kafka"
      test-args: "${{ inputs.ARGS }}"
      eks-cluster-name: ${{ needs.init-aws-eks.outputs.eks-cluster-name }}
      branch-name: ${{ inputs.BRANCH_NAME }}
    secrets: inherit

  test-pulsar:
    if: ${{ needs.install-kubeblocks.result == 'success' }}
    needs: [ init-aws-eks, install-kubeblocks ]
    uses: ./.github/workflows/test-kbcli.yml
    with:
      release-version: "${{ inputs.KB_VERSION }}"
      test-type: "8"
      test-type-name: "pulsar"
      test-args: "${{ inputs.ARGS }}"
      eks-cluster-name: ${{ needs.init-aws-eks.outputs.eks-cluster-name }}
      branch-name: ${{ inputs.BRANCH_NAME }}
    secrets: inherit

  test-mysql-scale:
    if: ${{ needs.install-kubeblocks.result == 'success' }}
    needs: [ init-aws-eks, install-kubeblocks ]
    uses: ./.github/workflows/test-kbcli.yml
    with:
      release-version: "${{ inputs.KB_VERSION }}"
      test-type: "1"
      test-type-name: "mysql-scale"
      test-args: "--enable-proxy true ${{ inputs.ARGS }}"
      eks-cluster-name: ${{ needs.init-aws-eks.outputs.eks-cluster-name }}
      branch-name: ${{ inputs.BRANCH_NAME }}
    secrets: inherit

  send-message:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [ install-kubeblocks, test-mysql, test-postgresql, test-redis, test-mongodb, test-kafka, test-pulsar, test-mysql-scale ]
    steps:
      - uses: actions/checkout@v3
        with:
          repository: apecloud/apecloud-cd
          path: ./
          ref: ${{ inputs.APECD_REF }}

      - name: send message
        id: get_trigger_mode
        run: |
          TEST_RESULT="install|${{ needs.install-kubeblocks.outputs.test-result }}"
          TEST_RESULT="${TEST_RESULT}##mysql|${{ needs.test-mysql.outputs.test-result }}"
          TEST_RESULT="${TEST_RESULT}##postgresql|${{ needs.test-postgresql.outputs.test-result }}"
          TEST_RESULT="${TEST_RESULT}##redis|${{ needs.test-redis.outputs.test-result }}"
          TEST_RESULT="${TEST_RESULT}##mongodb|${{ needs.test-mongodb.outputs.test-result }}"
          TEST_RESULT="${TEST_RESULT}##kafka|${{ needs.test-kafka.outputs.test-result }}"
          TEST_RESULT="${TEST_RESULT}##pulsar|${{ needs.test-pulsar.outputs.test-result }}"
          TEST_RESULT="${TEST_RESULT}##mysql-scale|${{ needs.test-mysql-scale.outputs.test-result }}"
          
          TEST_RESULT=$( bash .github/utils/utils.sh --type 12 \
              --test-result "${TEST_RESULT}" \
              --run-id "$GITHUB_RUN_ID" )
          
          date_ret=$(date +%Y-%m-%d-%T)
          python3 .github/utils/send_mesage.py \
              --url ${{ vars.TEST_BOT_WEBHOOK }} \
              --title "[${{ inputs.KB_VERSION }}] Test KBCLI on EKS [${date_ret}]" \
              --result "$TEST_RESULT"

  destroy-aws-eks:
    if: ${{ always() }}
    needs: [ init-aws-eks, send-message ]
    uses: ./.github/workflows/terraform-destroy.yml
    with:
      artifact-name: aws-eks-${{ github.sha }}
      deploy-path: ./aws/eks-default-vpc
    secrets: inherit
