name: Pull Request Label Check

on:
  workflow_call:
    inputs:
      CHECK_LABEL:
        description: "The name of pr label check (e.g. pick)"
        type: string
        required: false
        default: 'pick'
      EXTRA_LABEL:
        description: 'Set extra label'
        type: string
        required: false
        default: ''


env:
  GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: pr label check
        run: |
          PR_NUMBER="${{ github.event.pull_request.number }}"
          PR_LABELS=$(gh pr view ${PR_NUMBER} --repo ${{ github.repository }} --json labels | jq -r '.labels[].name')
          echo "PR_LABELS: ${PR_LABELS}"
          CHECK_LABEL="${{ inputs.CHECK_LABEL }}"
          label_exists=0
          for pr_label in $(echo "${PR_LABELS}"); do
              if [[ "${pr_label}" == "${CHECK_LABEL}" || "${pr_label}" == "no${CHECK_LABEL}" || "${pr_label}" == "${CHECK_LABEL}-"* ]]; then
                  label_exists=1
                  break
              fi
          done
          
          if [[ $label_exists -eq 0 ]]; then
              echo "$(tput -T xterm setaf 1)::error title=Not found ${CHECK_LABEL} label! $(tput -T xterm sgr0)"
              exit 1
          else
              echo "$(tput -T xterm setaf 2)Check ${CHECK_LABEL} label on ${PR_LABELS} successfully! $(tput -T xterm sgr0)"
          fi

      - name: Checkout apecloud-cd Code
        if: ${{ inputs.EXTRA_LABEL != '' && inputs.EXTRA_LABEL == 'chart-release' && github.event.pull_request.head.repo.full_name != github.repository }}
        uses: actions/checkout@v4
        with:
          repository: apecloud/apecloud-cd
          path: apecloud-cd

      - name: extra label set
        continue-on-error: true
        if: ${{ inputs.EXTRA_LABEL != '' && inputs.EXTRA_LABEL == 'chart-release' && github.event.pull_request.head.repo.full_name != github.repository }}
        run: |
          PR_NUMBER="${{ github.event.pull_request.number }}"
          PR_LABELS=$(gh pr view ${PR_NUMBER} --repo ${{ github.repository }} --json labels | jq -r '.labels[].name')
          echo "PR_LABELS: ${PR_LABELS}"
          ADD_LABEL_NAME=""
          REAL_ADD_LABEL_NAME=""
          REMOVE_LABEL_NAME=""
          for pr_label in $(echo "${PR_LABELS}"); do
              label_name_tmp=""
              if [[ "${pr_label}" == "pick-"* ]]; then
                  label_name_tmp="chart-release-${pr_label/pick-/}"
              fi
          
              if [[ -n "${label_name_tmp}" ]]; then
                  if [[ -z "${ADD_LABEL_NAME}" ]]; then
                      ADD_LABEL_NAME=${label_name_tmp}
                  else
                      ADD_LABEL_NAME="${ADD_LABEL_NAME},${label_name_tmp}"
                  fi
              else
                  continue
              fi
          
              # check exists label
              for pr_label_tmp in $(echo "${PR_LABELS}"); do
                  if [[ "${pr_label_tmp}" == "${label_name_tmp}" ]]; then
                      label_name_tmp=""
                      break
                  fi
              done
          
              if [[ -n "${label_name_tmp}" ]]; then
                  if [[ -z "${REAL_ADD_LABEL_NAME}" ]]; then
                      REAL_ADD_LABEL_NAME=${label_name_tmp}
                  else
                      REAL_ADD_LABEL_NAME="${REAL_ADD_LABEL_NAME},${label_name_tmp}"
                  fi
              fi
          done
          echo "ADD_LABEL_NAME:${ADD_LABEL_NAME}"
          echo "REAL_ADD_LABEL_NAME:${REAL_ADD_LABEL_NAME}"

          for pr_label in $(echo "${PR_LABELS}"); do
              label_name_tmp=""
              if [[ -n "${ADD_LABEL_NAME}" ]]; then
                  if [[ "${pr_label}" == "chart-release-"* ]]; then
                      add_label_exists=0
                      for add_label_tmp in $(echo "${ADD_LABEL_NAME}" | sed 's/,/ /g'); do
                         if [[ "${add_label_tmp}" == "${pr_label}" ]]; then
                            add_label_exists=1
                            break
                        fi
                      done
          
                      if [[ ${add_label_exists} -eq 0 ]]; then
                         label_name_tmp="${pr_label}"
                      fi
                  fi
              else
                  if [[ "${pr_label}" == "chart-release-"*  ]]; then
                      label_name_tmp="${pr_label}"
                  fi
              fi
          
              if [[ -n "${label_name_tmp}" ]]; then
                  if [[ -z "${REMOVE_LABEL_NAME}" ]]; then
                      REMOVE_LABEL_NAME=${label_name_tmp}
                  else
                      REMOVE_LABEL_NAME="${REMOVE_LABEL_NAME},${label_name_tmp}"
                  fi
              fi
          done
          echo "REMOVE_LABEL_NAME:${REMOVE_LABEL_NAME}"
          
          if [[ "${REAL_ADD_LABEL_NAME}" == "${REMOVE_LABEL_NAME}" ]]; then
              echo "$(tput -T xterm setaf 2)No need to add or remove labels! $(tput -T xterm sgr0)"
              exit 1
          fi
          
          if [[ -n "${REMOVE_LABEL_NAME}" ]]; then
              bash ${{ github.workspace }}/apecloud-cd/.github/utils/utils.sh \
                  --type 33 \
                  --github-repo "${{ github.repository }}" \
                  --github-token "${{ env.GH_TOKEN }}" \
                  --pr-number "${PR_NUMBER}" \
                  --label-name "${REMOVE_LABEL_NAME}" \
                  --label-ops "REMOVE"
          
              check_remove_label=0
              for i in $(seq 1 60); do
                  sleep 1
                  PR_LABELS=$(gh pr view ${PR_NUMBER} --repo ${{ github.repository }} --json labels | jq -r '.labels[].name')
                  for pr_label in $(echo "${PR_LABELS}"); do
                      for remove_label in $(echo "${REMOVE_LABEL_NAME} | sed 's/,/ /g'"); do
                          if [[ "${remove_label}" == "${pr_label}" ]]; then
                              check_remove_label=1
                              break
                          fi
                      done
                  done
                  echo "checking remove label: ${PR_LABELS}"
                  if [[ ${check_remove_label} -eq 0 ]]; then
                      echo "remove label ${PR_LABELS} successfully"
                      break
                  fi
              done
          fi
          
          if [[ -n "${REAL_ADD_LABEL_NAME}" ]]; then
              bash ${{ github.workspace }}/apecloud-cd/.github/utils/utils.sh \
                --type 33 \
                --github-repo "${{ github.repository }}" \
                --github-token "${{ env.GH_TOKEN }}" \
                --pr-number "${PR_NUMBER}" \
                --label-name "${REAL_ADD_LABEL_NAME}" \
                --label-ops "ADD"
          fi