name: RELEASE-DELETE

on:
  workflow_call:
    inputs:
      VERSION:
        description: "The version of release (e.g. v0.4.0)"
        type: string
        required: true
        default: ''
      APECD_REF:
        description: "The ref of apecloud-cd"
        type: string
        required: false
        default: 'main'


env:
  GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  JIHULAB_ACCESS_TOKEN: ${{ secrets.GITLAB_ACCESS_TOKEN }}
  DOCKER_USER: ${{ secrets.DOCKER_REGISTRY_USER }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
  ALIYUN_USER: ${{ secrets.ALIYUN_REGISTRY_USER }}
  ALIYUN_PASSWORD: ${{ secrets.ALIYUN_REGISTRY_PASSWORD }}
  ALIYUN_USER_NEW: ${{ secrets.ALIYUN_USER_NEW }}
  ALIYUN_PASSWORD_NEW: ${{ secrets.ALIYUN_PASSWORD_NEW }}
  JIHULAB_KBCLI_PROJECT_ID: 85948

jobs:
  delete-release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout apecloud-cd Code
        uses: actions/checkout@v4
        with:
          repository: apecloud/apecloud-cd
          path: apecloud-cd
          ref: ${{ inputs.APECD_REF }}

      - name: delete kubeblocks release
        run: |
          for release in $(echo "${{ inputs.VERSION }}" | sed 's/|/ /g'); do
              bash ${{ github.workspace }}/apecloud-cd/.github/utils/utils.sh \
                  --type 8 \
                  --github-repo apecloud/kubeblocks \
                  --tag-name $release \
                  --github-token ${{ env.GITHUB_TOKEN }}
          done

      - name: delete github kbcli release
        if: ${{ always() }}
        run: |
          for release in $(echo "${{ inputs.VERSION }}" | sed 's/|/ /g'); do
              bash ${{ github.workspace }}/apecloud-cd/.github/utils/utils.sh \
                  --type 8 \
                  --github-repo apecloud/kbcli \
                  --tag-name $release \
                  --github-token ${{ env.GITHUB_TOKEN }}
          done

      - name: delete Jihulab kbcli release
        if: ${{ always() }}
        run: |
          for release in $(echo "${{ inputs.VERSION }}" | sed 's/|/ /g'); do
              bash ${{ github.workspace }}/apecloud-cd/.github/utils/release_gitlab.sh \
                  --type 5 \
                  --tag-name $release \
                  --project-id ${{ env.JIHULAB_KBCLI_PROJECT_ID }} \
                  --access-token ${{ env.JIHULAB_ACCESS_TOKEN }}
          done

  delete-chart:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Checkout helm-charts Code
        uses: actions/checkout@v4
        with:
          repository: apecloud/helm-charts
          path: helm-charts
          token: ${{ env.GITHUB_TOKEN }}

      - name: Checkout apecloud-cd Code
        uses: actions/checkout@v4
        with:
          repository: apecloud/apecloud-cd
          path: apecloud-cd
          ref: ${{ inputs.APECD_REF }}

      - name: Checkout block-index Code
        uses: actions/checkout@v4
        with:
          repository: apecloud/block-index
          path: block-index
          token:  ${{ env.GITHUB_TOKEN }}

      - name: delete github helm chart release
        run: |
          for release in $(echo "${{ inputs.VERSION }}" | sed 's/|/ /g'); do
              bash ${{ github.workspace }}/apecloud-cd/.github/utils/utils.sh \
                  --type 9 \
                  --github-repo apecloud/helm-charts \
                  --tag-name $release \
                  --github-token ${{ env.GITHUB_TOKEN }}
          done

      - name: delete Jihulab helm chart release
        if: ${{ always() }}
        run: |
          for release in $(echo "${{ inputs.VERSION }}" | sed 's/|/ /g'); do
              bash ${{ github.workspace }}/apecloud-cd/.github/utils/release_gitlab.sh \
                  --type 6 \
                  --tag-name $release \
                  --charts-dir "${{ github.workspace }}/block-index/addons|${{ github.workspace }}/helm-charts/deploy|${{ github.workspace }}/deploy" \
                  --access-token ${{ env.JIHULAB_ACCESS_TOKEN }}
          done

  delete-charts-index:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout helm-charts Code
        uses: actions/checkout@v4
        with:
          repository: apecloud/helm-charts
          path: ./
          token: ${{ env.GITHUB_TOKEN }}
          ref: gh-pages

      - name: delete helm-charts index
        id: delete_index
        run: |
          CHART_VERSION=""
          for release in $(echo "${{ inputs.VERSION }}" | sed 's/|/ /g'); do
              CHART_VERSION=$release
              yq eval 'del(.entries.[].[]|select(.version|contains("'${release}'")))' -i ${{ github.workspace }}/index.yaml
          done
          FILE_CHANGES=`git diff --name-only ${{ github.sha }}`
          if [[ ! -z "$FILE_CHANGES" ]]; then
            echo $FILE_CHANGES
            git config --local user.name "$GITHUB_ACTOR"
            git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
            git commit -a -m "chore: delete index chart version ${CHART_VERSION}"
          fi
          echo file_changes=$FILE_CHANGES >> $GITHUB_OUTPUT

      - name: Push index.yaml changes
        uses: ad-m/github-push-action@master
        if: ${{ steps.delete_index.outputs.file_changes }}
        with:
          github_token: ${{ env.GITHUB_TOKEN }}
          branch: gh-pages

  delete-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout apecloud-cd Code
        uses: actions/checkout@v4
        with:
          repository: apecloud/apecloud-cd
          path: apecloud-cd
          ref: ${{ inputs.APECD_REF }}

      - name: delete dockerhub image
        run: |
          for release in $(echo "${{ inputs.VERSION }}" | sed 's/|/ /g'); do
              script -e -c "bash ${{ github.workspace }}/apecloud-cd/.github/utils/utils.sh \
                  --type 10  \
                  --user ${{ env.DOCKER_USER }} --password \"${{ env.DOCKER_PASSWORD }}\" \
                  --tag-name $release"
          done

  delete-aliyun-image:
    runs-on: macos-latest
    steps:
      - name: Checkout apecloud-cd Code
        uses: actions/checkout@v4
        with:
          repository: apecloud/apecloud-cd
          path: apecloud-cd
          ref: ${{ inputs.APECD_REF }}

      - name: install skopeo
        run: |
          brew install skopeo

      - name: delete aliyun registry image
        run: |
          for release in $(echo "${{ inputs.VERSION }}" | sed 's/|/ /g'); do
              bash ${{ github.workspace }}/apecloud-cd/.github/utils/utils.sh \
                  --type 11  \
                  --user ${{ env.ALIYUN_USER }} --password "${{ env.ALIYUN_PASSWORD }}" \
                  --tag-name $release
          done

      - name: delete aliyun registry image New
        if: ${{ always() }}
        run: |
          for release in $(echo "${{ inputs.VERSION }}" | sed 's/|/ /g'); do
              bash ${{ github.workspace }}/apecloud-cd/.github/utils/utils.sh \
                  --type 18  \
                  --user ${{ env.ALIYUN_USER_NEW }} --password "${{ env.ALIYUN_PASSWORD_NEW }}" \
                  --tag-name $release
          done
