name: Releae Image Cache And Sync To Aliyun

on:
  workflow_call:
    inputs:
      MAKE_OPS_PRE:
        description: "The pre ops name of makefile (e.g. generate)"
        type: string
        required: false
        default: ''
      IMG:
        description: "The URL to use building/pushing image targets (e.g. apecloud/kubeblocks)"
        type: string
        required: false
        default: ''
      VERSION:
        description: "The tag name of image (default: latest)"
        type: string
        required: false
        default: ''
      BUILDX_PLATFORMS:
        description: "buildx platforms (default: linux/amd64,linux/arm64)"
        type: string
        required: false
        default: 'linux/amd64,linux/arm64'
      BUILDX_ARGS:
        description: "buildx args "
        type: string
        required: false
        default: ''
      GO_VERSION:
        description: "Install the specify version of GO"
        type: string
        required: false
        default: ''
      GIT_CONFIG:
        description: "InsteadOf git config global url (default: false)"
        type: boolean
        required: false
        default: false
      APECD_REF:
        description: "The branch name of apecloud-cd"
        type: string
        required: false
        default: 'main'
      SYNC_ENABLE:
        description: "Enable sync images"
        type: boolean
        required: false
        default: true
      CONTEXT:
        description: "Build's context is the set of files located in the specified PATH or URL (default: .)"
        type: string
        required: false
        default: '.'
      DOCKERFILE_PATH:
        description: "Path to the Dockerfile (default: ./Dockerfile)"
        type: string
        required: false
        default: './Dockerfile'
      REMOVE_PREFIX:
        description: "Enable remove prefix v  (default: true)"
        type: boolean
        required: false
        default: true
      PYTHON_VERSION:
        description: "Install the specify version of Python"
        type: string
        required: false
        default: ''
      POETRY_VERSION:
        description: "Install the specify version of Poetry"
        type: string
        required: false
        default: ''
      ENABLE_SUBMODULE:
        description: "Enable checkout submodule  (default: false)"
        type: boolean
        required: false
        default: false
      ARGS_TOKEN:
        description: "Enable set GITHUB_TOKEN to ARGS  (default: false)"
        type: boolean
        required: false
        default: false
      ENABLE_SECRETS:
        description: "Enable docker build with secrets"
        type: boolean
        required: false
        default: false

env:
  DOCKER_REGISTRY_URL: docker.io
  ALIYUN_REGISTRY_URL: apecloud-registry.cn-zhangjiakou.cr.aliyuncs.com
  ALIYUN_REGISTRY_URL_NEW: infracreate-registry.cn-zhangjiakou.cr.aliyuncs.com
  DOCKER_USER: ${{ secrets.DOCKER_REGISTRY_USER }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
  ALIYUN_USER: ${{ secrets.ALIYUN_REGISTRY_USER }}
  ALIYUN_PASSWORD: ${{ secrets.ALIYUN_REGISTRY_PASSWORD }}
  ALIYUN_USER_NEW: ${{ secrets.ALIYUN_USER_NEW }}
  ALIYUN_PASSWORD_NEW: ${{ secrets.ALIYUN_PASSWORD_NEW }}
  GITHUB_USER: ${{ secrets.PERSONAL_ACCESS_USER }}
  GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  REDHAT_USERNAME: ${{ inputs.ENABLE_SECRETS && format('redhat_username={0}', secrets.REDHAT_USERNAME) || '' }}
  REDHAT_PASSWORD: ${{ inputs.ENABLE_SECRETS && format('redhat_password={0}', secrets.REDHAT_PASSWORD) || '' }}
  JIHULAB_ACCESS_TOKEN: ${{ secrets.GITLAB_ACCESS_TOKEN }}
  JIHULAB_ACCESS_USER: ${{ secrets.GITLAB_ACCESS_USER }}

jobs:
  release-image:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    outputs:
      tag-name: ${{ steps.get_tag_name.outputs.TAG-NAME }}
    steps:
      - name: Free disk space
        continue-on-error: true
        run: |
          RELEASE_IMG="${{ inputs.IMG }}"
          case $RELEASE_IMG in
              apecloud/aperag|apecloud/doc-ray)
                  echo "Initial disk usage:"
                  df -h
                  
                  # Remove unnecessary software to free up space for Docker builds
                  sudo rm -rf /usr/share/dotnet
                  sudo rm -rf /usr/local/lib/android
                  sudo rm -rf /opt/ghc
                  sudo rm -rf /opt/hostedtoolcache/CodeQL
                  sudo rm -rf /usr/local/share/boost
                  sudo rm -rf /usr/lib/jvm
                  sudo rm -rf /usr/share/swift
                  
                  # Clean up docker images and containers
                  docker system prune -af --volumes
                  
                  # Clean apt cache
                  sudo apt-get clean
                  sudo apt-get autoremove -y
                  
                  echo "Disk usage after cleanup:"
                  df -h
              ;;
          esac

      - name: Checkout Code
        if: ${{ ! inputs.ENABLE_SUBMODULE }}
        uses: actions/checkout@v4

      - name: Checkout Code With Submodule
        if: inputs.ENABLE_SUBMODULE
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          token: ${{ env.GITHUB_TOKEN }}

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        with:
          driver-opts: image=moby/buildkit:master

      - name: Setup Go specify version
        if: inputs.GO_VERSION
        uses: actions/setup-go@v3
        with:
          go-version: ${{ inputs.GO_VERSION }}

      - name: Setup Python specify version
        if: inputs.PYTHON_VERSION
        uses: actions/setup-python@v4
        with:
          python-version: "${{ inputs.PYTHON_VERSION }}"

      - name: Setup Poetry specify version
        if: inputs.POETRY_VERSION
        uses: Gr1N/setup-poetry@v8
        with:
          poetry-version: "${{ inputs.POETRY_VERSION }}"

      - name: git config
        if: inputs.GIT_CONFIG
        run: |
          git config --global url."https://${{ env.GITHUB_USER }}:${{ env.GITHUB_TOKEN }}@github.com".insteadof "https://github.com"

      - name: make pre
        if: inputs.MAKE_OPS_PRE
        run: |
          make ${{ inputs.MAKE_OPS_PRE }}

      - name: remove v prefix
        id: get_tag_name
        shell: bash
        run: |
          tag_name="${{ inputs.VERSION }}"
          if [[ "$tag_name" == "v"*  && "${{ inputs.REMOVE_PREFIX }}" == "true" ]]; then
              tag_name="${tag_name/v/}"
          fi
          echo TAG-NAME=$tag_name >> $GITHUB_OUTPUT

      - if: ${{ env.DOCKER_USER != '' && env.DOCKER_PASSWORD != '' }}
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ${{ env.DOCKER_REGISTRY_URL }}
          username: ${{ env.DOCKER_USER }}
          password: ${{ env.DOCKER_PASSWORD }}

      - if: ${{ env.DOCKER_USER != '' && env.DOCKER_PASSWORD != '' && inputs.ARGS_TOKEN }}
        name: Build and Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.CONTEXT }}
          file: ${{ inputs.DOCKERFILE_PATH }}
          tags: ${{ env.DOCKER_REGISTRY_URL }}/${{ inputs.IMG }}:${{ steps.get_tag_name.outputs.TAG-NAME }}
          platforms: ${{ inputs.BUILDX_PLATFORMS }}
          build-args: |
            GITHUB_TOKEN=${{ env.GITHUB_TOKEN }}
            ${{ inputs.BUILDX_ARGS }}
          secrets: |
            ${{ env.REDHAT_USERNAME }}
            ${{ env.REDHAT_PASSWORD }}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
          sbom: false

      - if: ${{ env.DOCKER_USER != '' && env.DOCKER_PASSWORD != '' && ! inputs.ARGS_TOKEN }}
        name: Build and Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.CONTEXT }}
          file: ${{ inputs.DOCKERFILE_PATH }}
          tags: ${{ env.DOCKER_REGISTRY_URL }}/${{ inputs.IMG }}:${{ steps.get_tag_name.outputs.TAG-NAME }}
          platforms: ${{ inputs.BUILDX_PLATFORMS }}
          build-args: |
            ${{ inputs.BUILDX_ARGS }}
          secrets: |
            ${{ env.REDHAT_USERNAME }}
            ${{ env.REDHAT_PASSWORD }}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
          sbom: false

  sync-to-aliyun:
    runs-on: ubuntu-latest
    if: ${{ inputs.SYNC_ENABLE }}
    needs: release-image
    steps:
      - name: Checkout apecloud-cd Code
        uses: actions/checkout@v4
        with:
          repository: apecloud/apecloud-cd
          path: apecloud-cd
          token: ${{ env.GITHUB_TOKEN }}
          ref: ${{ inputs.APECD_REF }}

      - name: generate image yaml
        run: |
          if [[ -n "${{ env.ALIYUN_USER_NEW }}" && -n "${{ env.ALIYUN_PASSWORD_NEW }}" ]]; then
              bash ${{ github.workspace }}/apecloud-cd/.github/utils/utils.sh \
                --type 27 \
                --images "${{ inputs.IMG }}:${{ needs.release-image.outputs.tag-name }}" \
                --registry "${{ env.DOCKER_REGISTRY_URL }}"
          else
              bash ${{ github.workspace }}/apecloud-cd/.github/utils/utils.sh \
                --type 32 \
                --images "${{ inputs.IMG }}:${{ needs.release-image.outputs.tag-name }}" \
                --registry "${{ env.DOCKER_REGISTRY_URL }}"
          fi

      - uses: hhyasdf/image-sync-action@v1.1
        name: sync image to apecloud aliyun registry
        if: ${{ env.DOCKER_USER != '' && env.DOCKER_PASSWORD != '' && env.ALIYUN_USER != '' && env.ALIYUN_PASSWORD != '' && (env.ALIYUN_USER_NEW == '' || env.ALIYUN_PASSWORD_NEW == '') }}
        with:
          auth_file: ${{ github.workspace }}/apecloud-cd/.github/actions/image-sync-auth-apecloud.yml
          images_file: ./image_sync_yaml_apecloud.yml
          proc: 6
          retries: 5
          version: v1.5.2
        env:
          DOCKER_USER: ${{ env.DOCKER_USER }}
          DOCKER_PASSWORD: ${{ env.DOCKER_PASSWORD }}
          ALIYUN_USER: ${{ env.ALIYUN_USER }}
          ALIYUN_PASSWORD: ${{ env.ALIYUN_PASSWORD }}

      - uses: hhyasdf/image-sync-action@v1.1
        name: sync image to all aliyun registry
        if: ${{ env.DOCKER_USER != '' && env.DOCKER_PASSWORD != '' && env.ALIYUN_USER != '' && env.ALIYUN_PASSWORD != '' && env.ALIYUN_USER_NEW != '' && env.ALIYUN_PASSWORD_NEW != '' }}
        with:
          auth_file: ${{ github.workspace }}/apecloud-cd/.github/actions/image-sync-auth.yml
          images_file: ./image_sync_yaml.yml
          proc: 6
          retries: 5
          version: v1.5.2
        env:
          DOCKER_USER: ${{ env.DOCKER_USER }}
          DOCKER_PASSWORD: ${{ env.DOCKER_PASSWORD }}
          ALIYUN_USER: ${{ env.ALIYUN_USER }}
          ALIYUN_PASSWORD: ${{ env.ALIYUN_PASSWORD }}
          ALIYUN_USER_NEW: ${{ env.ALIYUN_USER_NEW }}
          ALIYUN_PASSWORD_NEW: ${{ env.ALIYUN_PASSWORD_NEW }}
