name: Trivy Scan Cloud

on:
  workflow_dispatch:
    inputs:
      CLOUD_TAG:
        description: "cloud tag"
        type: string
        required: false
        default: ''
      APECD_REF:
        description: "The branch name of apecloud-cd"
        type: string
        required: false
        default: 'main'
  schedule:
    - cron: '0 1 * * 1' # Runs at 08:00 UTC on Mon to Friday

env:
  GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  CLOUD_REPO: "apecloud/apecloud"
  MANIFESTS_FILE: "manifests/deploy-manifests.yaml"

run-name: Trivy Scan Cloud ${{ inputs.CLOUD_TAG }}

jobs:
  get-images:
    runs-on: ubuntu-latest
    outputs:
      cloud-tag: ${{ steps.get-cloud-tag.outputs.cloud-tag }}
      kubeblocks-cloud-images: ${{ steps.get-images.outputs.kubeblocks-cloud-images }}
      kbcloud-installer-images: ${{ steps.get-images.outputs.kb-cloud-installer-images }}
      postgres-operator-images: ${{ steps.get-images.outputs.postgres-operator-images }}
      casdoor-images: ${{ steps.get-images.outputs.casdoor-helm-charts-images }}
      kubeblocks-images: ${{ steps.get-images.outputs.kubeblocks-images }}
      gemini-images: ${{ steps.get-images.outputs.gemini-images }}
      gemini-monitor-images: ${{ steps.get-images.outputs.gemini-monitor-images }}
      ape-local-images: ${{ steps.get-images.outputs.ape-local-csi-driver-images }}
      kubebench-images: ${{ steps.get-images.outputs.kubebench-images }}
      ingress-nginx-images: ${{ steps.get-images.outputs.ingress-nginx-images }}
      metrics-server-images: ${{ steps.get-images.outputs.metrics-server-images }}
      loki-images: ${{ steps.get-images.outputs.loki-images }}
      victoria-metrics-images: ${{ steps.get-images.outputs.victoria-metrics-images }}
      minio-images: ${{ steps.get-images.outputs.minio-images }}
      postgresql-images: ${{ steps.get-images.outputs.postgresql-images }}
    steps:
      - name: get cloud tag
        id: get-cloud-tag
        run: |
          CLOUD_TAG="${{ inputs.CLOUD_TAG }}"
          if [[ -z "${CLOUD_TAG}" ]]; then
              CLOUD_TAG=$(gh release list --repo ${{ env.CLOUD_REPO }} | (grep "alpha" || true) | awk 'NR==1{print $2}')
          fi
          echo "cloud-tag=${CLOUD_TAG}" >> $GITHUB_OUTPUT

      - name: Checkout apecloud Code
        uses: actions/checkout@v4
        with:
          repository: ${{ env.CLOUD_REPO }}
          token: ${{ env.GH_TOKEN }}
          ref: ${{ steps.get-cloud-tag.outputs.cloud-tag }}

      - name: Checkout apecloud-cd Code
        uses: actions/checkout@v4
        with:
          repository: apecloud/apecloud-cd
          path: ./apecloud-cd
          ref: ${{ inputs.APECD_REF }}

      - name: get images
        id: get-images
        run: |
          MANIFESTS_FILE=${{ env.MANIFESTS_FILE }}
          CLOUD_TAG="${{ steps.get-cloud-tag.outputs.cloud-tag }}"
          bash apecloud-cd/.github/utils/get_scan_images.sh "${MANIFESTS_FILE}" "${CLOUD_TAG}"

  kubeblocks-cloud:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "kubeblocks-cloud"
      IMAGES: "${{ needs.get-images.outputs.kubeblocks-cloud-images }}"
      ADDON: false
    secrets: inherit

  kbcloud-installer:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "kbcloud-installer"
      IMAGES: "${{ needs.get-images.outputs.kbcloud-installer-images }}"
      ADDON: false
    secrets: inherit

  postgres-operator:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "postgres-operator"
      IMAGES: "${{ needs.get-images.outputs.postgres-operator-images }}"
      ADDON: false
    secrets: inherit

  casdoor:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "casdoor"
      IMAGES: "${{ needs.get-images.outputs.casdoor-images }}"
      ADDON: false
    secrets: inherit

  kubeblocks:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "kubeblocks"
      IMAGES: "${{ needs.get-images.outputs.kubeblocks-images }}"
      ADDON: false
    secrets: inherit

  gemini:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "gemini"
      IMAGES: "${{ needs.get-images.outputs.gemini-images }}"
      ADDON: false
    secrets: inherit

  gemini-monitor:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "gemini-monitor"
      IMAGES: "${{ needs.get-images.outputs.gemini-monitor-images }}"
      ADDON: false
    secrets: inherit

  ape-local:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "ape-local"
      IMAGES: "${{ needs.get-images.outputs.ape-local-images }}"
      ADDON: false
    secrets: inherit

  kubebench:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "kubebench"
      IMAGES: "${{ needs.get-images.outputs.kubebench-images }}"
      ADDON: false
    secrets: inherit

  ingress-nginx:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "ingress-nginx"
      IMAGES: "${{ needs.get-images.outputs.ingress-nginx-images }}"
      ADDON: false
    secrets: inherit

  metrics-server:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "metrics-server"
      IMAGES: "${{ needs.get-images.outputs.metrics-server-images }}"
      ADDON: false
    secrets: inherit

  loki:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "loki"
      IMAGES: "${{ needs.get-images.outputs.loki-images }}"
      ADDON: false
    secrets: inherit

  victoria-metrics:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "victoria-metrics"
      IMAGES: "${{ needs.get-images.outputs.victoria-metrics-images }}"
      ADDON: false
    secrets: inherit

  minio:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "minio"
      IMAGES: "${{ needs.get-images.outputs.minio-images }}"
      ADDON: false
    secrets: inherit

  postgresql:
    uses: ./.github/workflows/trivy-scan.yml
    needs: [ get-images ]
    with:
      ITEM: "postgresql"
      IMAGES: "${{ needs.get-images.outputs.postgresql-images }}"
      ADDON: false
    secrets: inherit

  send-message:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [ get-images, kubeblocks-cloud, kbcloud-installer, postgres-operator, casdoor,
             kubeblocks, gemini, gemini-monitor, ape-local, kubebench, ingress-nginx, metrics-server,
             loki, victoria-metrics, minio, postgresql ]
    steps:
      - uses: actions/checkout@v4
        with:
          repository: apecloud/apecloud-cd
          path: ./

      - name: send message
        run: |
          CLOUD_TAG="${{ needs.get-images.outputs.cloud-tag }}"
          TEST_RESULT="${{ needs.kubeblocks-cloud.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.kbcloud-installer.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.postgres-operator.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.casdoor.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.kubeblocks.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.gemini.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.gemini-monitor.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.ape-local.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.kubebench.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.ingress-nginx.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.metrics-server.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.metrics-server.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.loki.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.victoria-metrics.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.minio.outputs.total-vulnerabilities }}"
          TEST_RESULT="${TEST_RESULT}##${{ needs.postgresql.outputs.total-vulnerabilities }}"
          
          export TZ='Asia/Shanghai'
          date_ret=$(date +%Y-%m-%d-%T)
          test_title="[${CLOUD_TAG}] Trivy Scan Vulnerabilities [${date_ret}]"
          
          send_message_url="${{ vars.SECURITY_WEBHOOK }}"
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
              send_message_url="${{ vars.CICD_WEBHOOK }}"
          fi
          
          python3 .github/utils/send_mesage.py \
              --send-type trivy \
              --url "${send_message_url}" \
              --title "$test_title" \
              --result "$TEST_RESULT"
